<nav>
  <ul>
    <li class="home left"><h1>Kate &amp; Elliott</h1></li>
    <li data-menu-id="the-wedding" class="link">Wedding</li>
    <li data-menu-id="the-party" class="link">Party</li>
    <li data-menu-id="the-trip" class="link">Trip</li>
    <li data-menu-id="the-spot" class="link">Spot</li>
    <li data-menu-id="rsvp" class="link">RSVP</li>
  </ul>
</nav>
