
<section id="the-wedding">
  <h2>The Wedding</h2>
  <p>Frankfurter short loin flank, beef ribs pancetta fatback bresaola meatloaf 
    kielbasa corned beef capicola shoulder pig meatball. Corned beef pork chop 
    short loin, capicola leberk채se kielbasa cow turducken. T-bone beef ribs chuck 
    chicken capicola. Salami pork loin capicola, meatloaf chicken ham hock pork 
    chop pastrami. Ribeye chuck turducken, meatloaf sirloin hamburger jowl tail 
    short loin venison capicola leberk채se. Bresaola sausage shankle jerky 
    capicola salami, ham swine ground round strip steak kielbasa ball tip. 
    Shankle ground round hamburger pork belly shank.</p>
</section>

<section id="the-party">
  <h2>The Party</h2>
  <p>Frankfurter short loin flank, beef ribs pancetta fatback bresaola meatloaf 
    kielbasa corned beef capicola shoulder pig meatball. Corned beef pork chop 
    short loin, capicola leberk채se kielbasa cow turducken. T-bone beef ribs chuck 
    chicken capicola. Salami pork loin capicola, meatloaf chicken ham hock pork 
    chop pastrami. Ribeye chuck turducken, meatloaf sirloin hamburger jowl tail 
    short loin venison capicola leberk채se. Bresaola sausage shankle jerky 
    capicola salami, ham swine ground round strip steak kielbasa ball tip. 
    Shankle ground round hamburger pork belly shank.</p>
</section>

<section id="the-trip">
  <h2>The Trip</h2>

  <h3>Getting There</h3>
  <p>There are two nearby airports, or Richmond may be a better option for direct flights.</p>
  <div class="three-column">
    <div class="travel">
      <div class="meta">
        <h4>Newport News Airport (PHF)</h4>
        10-15 minutes from hotels
      </div>
    </div>
    <div class="travel">
      <div class="meta">
        <h4>Norfolk Airport (ORF)</h4>
        30-45 minutes from hotels
      </div>
    </div>
    <div class="travel">
      <div class="meta">
        <h4>Richmond Airport (RIC)</h4>
        75 minutes from hotels
      </div>
    </div>
  </div>
  
  <h3>Where to Stay</h3>
  <p>Blocks of rooms are being held at two nearby hotels.  Please book your hotel
    ASAP &ndash; two local universities are having graduations that weekend and 
    hotels are filling up fast.</p>
    
  <div class="two-column with-images">
    <div class="hotel">
      <div class="meta">
        <h4>The Omni</h4>
        1000 Omni Boulevard<br>
        Newport News, Virginia<br>
        757-873-6664<br>
        $129 / night &nbsp;|&nbsp;
        <a href="http://www.omnihotels.com/FindAHotel/NewportNews.aspx" target="_blank">link</a>
      </div>
      <p>We recommend the Omni for the younger crowd.  The wedding party will be staying here,
        and one of Newport News' few clubs is downstairs.  We are hoping to provide
        a late-night shuttle to this hotel.</p>
      <p><b>Reservations:</b><br>
        Call the hotel and ask for the Stephens/Wood Wedding block.</p>
    </div>

    <div class="hotel">
      <div class="meta">
        <h4>Hilton Garden Inn</h4>
        180 Regal Way<br>
        Newport News, Virginia<br>
        757-947-1080<br>
        $125 / night &nbsp;|&nbsp;
        <a href="http://bit.ly/swwed" target="_blank">link</a>
      </div>
      <p>We recommend the Hilton Garden Inn for family and other traveling guests.  It is 
        in a quieter location, and Elliott's family will be staying here for the weekend.</p>
      <p><b>Reservations:</b><br>
        Book online at our <a href="http://bit.ly/swwed">event page</a>, or call the hotel and use reservation code SWWED.</p>
    </div>
  </div>
</section>

<section id="the-spot">
  <h2>The Spot</h2>
</section>

<section id="rsvp">
  <h2>RSVP</h2>
  <%= render :partial => 'responses/form' %>  
</section>
