<div id="card">
  <div class="fields">
    <h3>That's disappointing...</h3>
    <p>Thanks for letting us know your regrets.  If your plans change you
      can always return to this page to update your response.</p>
    <p><%= link_to_function 'Edit my response', 'loadForm();' %></p>
  </div>
</div>
