<section>
<h2>All RSVPs</h2>

<table id="rsvps">
  <tr>
    <th>Name</th>
    <th>Attending?</th>
    <th>Guests</th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.name %></td>
    <td><%= response.attending? ? 'yes' : 'no' %></td>
    <td><%= response.guests %></td>
  </tr>
<% end %>

  <tr style="margin-top: 5px; border-top: 1px solid #999">
    <td><b>Total Attendees</b></td>
    <td></td>
    <% @responses.reject! { |r| !r.attending? } %>
    <td><%= @responses.length + @responses.collect(&:guests).sum %></td>
  </tr>
</table>

</section>
