<section>
<h2>All RSVPs</h2>

<table id="rsvps">
  <tr>
    <th>Name</th>
    <th>Attending?</th>
    <th>Guests</th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.name %></td>
    <td><%= response.attending? ? 'yes' : 'no' %></td>
    <td><%= response.guests %></td>
  </tr>
<% end %>
</table>

</section>
